#searchInput {
    width: 300px;
    height: 40px; 
    font-size: 16px; 
    margin-left: 35%;
  }
 body{
      background-image: url("/airbnb/images/airbnb\ background.jpg");

    
    background-size: 100%;
    background-attachment: fixed;

 }
 #itemList{
    margin-left: 30%;
 }
 #jomla3{
    margin-left: 3%;
 }
 #tes3a{
    margin-left: 3%;
    transition: transform 0.3s;
    

 }

 #tes3a:hover{
    transform: scale(1.1);
 }
   #loula:hover{
      transform: scale(1.1)
   }
    #thenia:hover{
      transform: scale(1.1)
    }
    #theltha:hover{
      transform: scale(1.1)
    }
    #arb3a:hover{
      transform: scale(1.1)
    }
    #khamsa:hover{
      transform: scale(1.1)
    }
    #setta:hover{
      transform: scale(1.1)
    }
    #sab3a:hover{
      transform: scale(1.1)
    }
    #thmanya:hover{
      transform: scale(1.1)
    }
   #theltha{
      margin-left: 4%;
   }
   #paymentmethod{
      font-family: Arial, Helvetica, sans-serif;
   }

   <style>
    /* Add a bit of spacing and styling to the form */
    form {
        display: flex;
        flex-direction: column;
        max-width: 300px; /* Adjust the maximum width as needed */
        margin: auto; /* Center the form */
    }

    label {
        margin-bottom: 8px;
    }

    input {
        padding: 8px;
        margin-bottom: 16px;
    }

    button {
        padding: 10px;
        background-color: rgb(55, 5, 13);
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: palevioletred;
    }
</style>

#loula{
   position: relative;
   width: 300px; /* Adjust width as needed */
   height: 200px; /* Adjust height as needed */
   overflow: hidden;
 }
 
 #loula {
   width: 100%;
   height: auto; /* To maintain the image's aspect ratio */
   border-radius: 5px; /* Adjust border radius as needed */
   box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
 }
 